.r_main {
    text-align: center;
    /* background-color: #282c34; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    background-image: url("../../assets/img/background/login.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.r_title{
position: absolute;
top: 70px;
color: lightblue;
font-size: 40px;
}

.r_inputs{
position: absolute;
top: 160px;
display: flex;
flex-direction: column;
align-items: center;
width: 500px;
}

.r_buttons{
position: relative;
top: 50px;
width: 350px;
display: flex;
justify-content: space-evenly;
}